## Lab | SQL Queries 9

**Instructions**

Create a Python connection with SQL database and retrieve the results of the following queries as dataframes:

**1.How many distinct (different) actors' last names are there?**

In [43]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

import getpass

In [44]:
password = getpass.getpass()

········

In [45]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/bank'
engine = create_engine(connection_string)
data = pd.read_sql_query('SELECT COUNT(DISTINCT last_name) FROM sakila.actor', engine)# we are selectin the df loan from bank
data.head()

   COUNT(DISTINCT last_name)
0                        121

**2. Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.**

In [46]:
query= '''SELECT *, WEEKDAY(rental_date) AS 'Weekday',
CASE
WHEN (WEEKDAY(rental_date) >  4 ) then 'weekend'
ELSE 'workday'
END AS day_type
FROM sakila.rental;'''
df = pd.read_sql_query(query, engine)
df.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,Weekday,day_type
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,1,workday
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53,1,workday
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53,1,workday
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53,1,workday
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53,1,workday

**3.Get all films with ARMAGEDDON in the title.**

In [47]:
import pandas
pandas.__version__

'1.2.3'

In [48]:
import sqlalchemy
sqlalchemy.__version__

'1.4.4'

In [49]:
query= '''SELECT title FROM film WHERE title LIKE '%ARMAGEDDON%' ''' 
df = pd.read_sql_query(query, engine)
df.head()
#this works with panda version 1.1.3

ValueError: unsupported format character 'A' (0x41) at index 42

**4.Get 10 the longest films.**

In [50]:
query='SELECT title, length FROM sakila.film ORDER BY length DESC LIMIT 10;'
df = pd.read_sql_query(query, engine)
df.head()

            title  length
0  DARN FORRESTER     185
1    POND SEATTLE     185
2   CHICAGO NORTH     185
3   MUSCLE BRIGHT     185
4    WORST BANGER     185

**5.How many films include Behind the Scenes content?**

In [51]:
query= 'SELECT COUNT(title)FROM film WHERE special_features LIKE %Behind the Scenes%'
df = pd.read_sql_query(query, engine)
df.head()

ValueError: unsupported format character 'B' (0x42) at index 58

**6.Which kind of movies (rating) have a mean duration of more than two hours?**

In [52]:
query= 'SELECT AVG(length) as average_r ,rating FROM sakila.film GROUP BY rating HAVING average_r> 120;'
df = pd.read_sql_query(query, engine)
df.head()

   average_r rating
0   120.4439  PG-13

**7.Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.**

In [55]:
query= '''SELECT title,length,rental_rate FROM sakila.film
WHERE (length IS NOT NULL)
ORDER BY length ASC;'''
df = pd.read_sql_query(query, engine)
df.head()

                 title  length  rental_rate
0         ALIEN CENTER      46         2.99
1            IRON MOON      46         4.99
2        KWAI HOMEWARD      46         0.99
3     LABYRINTH LEAGUE      46         2.99
4  RIDGEMONT SUBMARINE      46         0.99

### END OF LAB